<head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
    <form action="/" method = "post">
        Background Color: <input type="text" name="bgcolor" value="ivory"/>
        <p>
        Game Color: <input type="text" name="gmcolor" value="white"/>
        <p>
        Object Image URL: <input type="text" name="imsrc" value="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Target_Corporation_logo_%28vector%29.svg/1200px-Target_Corporation_logo_%28vector%29.svg.png"/>
        <p>
        Font Color: <input type="text" name="fncolor" value="red"/>
        <input type="submit" value="Apply"/>
    </form>
    <a href="/">Go back</a>
</body>